<header class="header">
    <div class="header__container">
        <img src="assets/images/logo.webp" alt="Logo de Surströmming" class="header__logo">
        <h1 class="header__title">Surströmming</h1>

        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a class="header__link" href="#description">Descripción</a></li>
                <li class="header__item"><a class="header__link" href="#history">History</a></li>
                <li class="header__item"><a class="header__link" href="#production">Producción y venta</a></li>
                <li class="header__item"><a class="header__link" href="#consumption">Consumo</a></li>
            </ul>
        </nav>
    </div>
</header>